<%- include ( "partials/header"); -%>

<div>
	<h3 style="text-align: center; color: #020d33; font-family: Arial, sans-serif; font-size: 60px; font-weight: bolder;">BOOSTIT Services</h3>
   <h4 style="text-align:center; font-size: 20px;">BoostIT Services</h4>
   <h5 style="text-align: center;">
	   <span style="color:#01060c; font-weight: bold;">Services provided: <br>
	   PC Cleaning, Networking setup, Cybersecurity consulting and Managed Services
   </h5>
</div>

<div style="display: flex; justify-content: center;">
	<p style="margin-top: 100px;">
	 <span style="font-size: 20px; font-weight: bold;">BoostIt Services</span> <br>
	 <span style="font-size: 15px;">
		 Cybersecurity ISO 20001 Certified</span><br>
		<br>
		   Cybersecurity consultant certified with Industry Standard <br>
		   located in Auckland providing professional consultation<br>
		   	   </p>
   </div>
<footer>
   &copy; BoostIT Services. All rights reserved.
</footer>

