<%- include ( "partials/headerLoggedIn"); -%>


<h2 style="color:red">Members only page.</h1>

<p style="color:#f00">
    Welcome to a Members only page. You are now logged in.
</p>

<p style="color:#7fae5d">
Welcome to your BoostIT Services account
</p>

<img src="public/images/cleaning2.jpeg" style="margin-top: 100px;">
            <img src="public/images/cyber.jpeg">
            
    <footer>
    &copy; BoostIT Services. All rights reserved.
    </footer>
</body>