<%- include ( "partials/header"); -%>

      
        <div class="container">
            <h1 style="text-align: center;">Our Services</h1>
            <p style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; color: black; font-size: 20px;">Services provided: <br>
                PC Cleaning, Networking setup, Cybersecurity consulting and Managed Services</p>
            <img src="public/images/cleaning2.jpeg" style="margin-top: 100px;">
            <img src="public/images/cyber.jpeg">
        </div>
        

    <footer>
        &copy; BoostIT Services. All rights reserved.
    </footer>
</body>
