<!DOCTYPE html>
<html lang="en">

<head>
    <title>BoostIT Registered User account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BoostIT Services</title>

    <link rel="stylesheet" type="text/css" href="../../public/stylessheet/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head> 
<div>
    <nav class="navbar">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="public/images/boostit.jpeg" alt="BoostIT Logo">
            </a>
        </div>
            <ul class="navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contactus">Contact us</a></li>
                <li><a href="/Services">Services</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <div>
                <p class="contact-info ">Email: support@boostit.co.nz</p>
                <p class="contact-info ">Phone: +64210658872</p>
            </div>
        </nav>
    </div>


</div>

